@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700");
/**
 * Global
 */
h1, h2, h3, h4, h5, h6 {
  color: #002f9d;
  font-weight: 400;
  margin-top: 0;
  font-family: Georgia, serif; }

p, li, span, th, td, label {
  font-size: 17px;
  color: #202020;
  font-weight: 400; }

img {
  margin-bottom: 20px; }

th {
  font-weight: 700; }

hr {
  border: 1px solid #e1e1e1;
  margin: 30px 0 40px; }

p {
  margin-bottom: 20px; }

a {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #002f9d;
  font-weight: 700; }
  a:focus, a:hover {
    text-decoration: none;
    color: #021951; }

ul, ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px; }

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif; }

.button {
  font-size: 23px;
  color: #FFFFFF;
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  background: #002f9d;
  line-height: 65px;
  padding: 0 20px;
  min-width: 315px; }
  .button:focus, .button:hover {
    background: #021951;
    color: #FFFFFF; }

.vertical-center {
  top: 50%;
  position: relative;
  transform: translateY(-50%); }

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.dropdown:hover .dropdown-menu {
  display: block; }

.header .navbar-collapse {
  padding: 0; }

@media screen and (max-width: 991px) {
  .header .primary {
    float: none !important; }
    .header .primary .navbar-header {
      float: none; }
    .header .primary .navbar-toggle {
      display: block; }
    .header .primary .navbar-collapse {
      border-top: 1px solid #FFFFFF; }
    .header .primary .navbar-collapse.collapse {
      display: none !important; }
    .header .primary li {
      float: none;
      display: block !important;
      width: 100% !important; }
    .header .primary .navbar-collapse.collapse.in {
      display: block !important; } }
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none; }
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    transform: translate3d(50%, 0, 0);
    left: 0; }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    transform: translate3d(-50%, 0, 0);
    left: 0; }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0; } }
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%; }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%; }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0; }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1,
  .carousel-showmanymoveone .carousel-inner .cloneditem-2 {
    display: block; } }
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    transform: translate3d(25%, 0, 0);
    left: 0; }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    transform: translate3d(-25%, 0, 0);
    left: 0; }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0; } }
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%; }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%; }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0; }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block; } }

body .gform_wrapper {
  margin: 0; }
  body .gform_wrapper label {
    color: #202020;
    font-weight: 400 !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    display: none !important; }
  body .gform_wrapper li input[type=checkbox], body .gform_wrapper li input[type=radio] {
    margin-top: -6px !important; }
  body .gform_wrapper input,
  body .gform_wrapper select {
    color: #202020;
    border-radius: 0;
    background: #FFFFFF;
    padding: 0 15px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    border: 0;
    width: 100% !important;
    outline: transparent;
    text-transform: uppercase;
    position: relative;
    line-height: 45px; }
    body .gform_wrapper input:focus,
    body .gform_wrapper select:focus {
      color: #202020; }
  body .gform_wrapper textarea {
    height: 130px !important;
    color: #021951;
    background: #FFFFFF;
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    font-weight: 500 !important;
    font-size: 16px !important;
    padding: 20px 15px !important; }
  body .gform_wrapper ::placeholder {
    color: #002f9d; }
  body .gform_wrapper :-ms-input-placeholder {
    color: #002f9d; }
  body .gform_wrapper ::-ms-input-placeholder {
    color: #002f9d; }
  body .gform_wrapper .gfield {
    margin-top: 0 !important;
    padding-right: 15px !important;
    margin-bottom: 15px !important; }
    body .gform_wrapper .gfield .ginput_container {
      margin-top: 0 !important; }
    body .gform_wrapper .gfield.gf_left_half {
      padding-right: 5px !important; }
    body .gform_wrapper .gfield.gf_right_half {
      padding-left: 5px;
      padding-right: 0 !important; }
    body .gform_wrapper .gfield .gfield_captcha_input_container {
      padding-top: 5px; }
      body .gform_wrapper .gfield .gfield_captcha_input_container input {
        width: 50%; }
    body .gform_wrapper .gfield ul .gfield_checkbox li label,
    body .gform_wrapper .gfield ul .gfield_radio li label {
      white-space: nowrap; }
  body .gform_wrapper .gform_footer {
    margin: -5px 0 30px;
    padding: 0 15px 0 5px;
    text-align: right; }
    body .gform_wrapper .gform_footer .gform_button {
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s;
      color: #FFFFFF;
      font-size: 23px !important;
      display: inline-block;
      text-align: center;
      background: transparent;
      background: #002f9d;
      line-height: 50px;
      max-width: 230px;
      padding: 0 !important;
      margin: 0 !important; }
      body .gform_wrapper .gform_footer .gform_button:focus, body .gform_wrapper .gform_footer .gform_button:hover {
        background: #FFFFFF;
        color: #002f9d; }

.gform_confirmation_message {
  font-size: 17px; }

@media screen and (max-width: 640px) {
  body .gform_wrapper .gfield.gf_left_half,
  body .gform_wrapper .gfield.gf_right_half {
    padding: 0 !important; } }
/**
 * Header
 */
.header .navbar-default {
  background: #FFFFFF;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }
  .header .navbar-default.affix {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7); }
  .header .navbar-default .office {
    float: right;
    margin: 10px 0 0; }
    .header .navbar-default .office li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px; }
      .header .navbar-default .office li:first-child {
        border-right: 2px solid #363737;
        padding-right: 20px; }
      .header .navbar-default .office li:last-child {
        padding-left: 18px; }
      .header .navbar-default .office li span {
        margin-right: 20px;
        color: #002f9d;
        font-size: 15px; }
      .header .navbar-default .office li i {
        margin-right: 10px;
        line-height: 20px;
        text-align: center;
        width: 22px;
        font-size: 18px; }
        .header .navbar-default .office li i:last-of-type {
          border-radius: 50%;
          border: 1px solid #202020;
          font-size: 15px; }
      .header .navbar-default .office li a {
        font-size: 15px; }
  .header .navbar-default img {
    margin: 0; }
  .header .navbar-default #menu-primary li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #202020;
    padding: 10px 20px;
    font-weight: 400; }
    .header .navbar-default #menu-primary li a:focus, .header .navbar-default #menu-primary li a:hover {
      background: transparent;
      color: #002f9d; }
  .header .navbar-default #menu-primary li.active a {
    background: transparent;
    color: #002f9d; }

/**
 * Body
 */
.page-home .services {
  padding: 70px 0 0;
  background: transparent url("../img/sfg.png") center top no-repeat;
  background-size: cover;
  height: 523px; }
  .page-home .services .heading {
    font-size: 44px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 6px;
    margin-bottom: 93px; }
    .page-home .services .heading:after {
      content: '';
      position: absolute;
      width: 80px;
      height: 1px;
      top: 50%;
      background: #FFFFFF;
      margin-left: 15px; }
    .page-home .services .heading:before {
      content: '';
      position: absolute;
      width: 80px;
      height: 1px;
      top: 50%;
      background: #FFFFFF;
      margin-left: -95px; }
  .page-home .services ul {
    margin: 0;
    padding: 0; }
    .page-home .services ul a li {
      display: inline-block;
      width: 20%;
      text-align: center;
      float: left;
      position: relative;
      height: 309px;
      background: transparent url("../img/service-background.png") top 57% center no-repeat;
      background-size: 100%;
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      .page-home .services ul a li span {
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        top: 50%; }
    .page-home .services ul a:focus li, .page-home .services ul a:hover li {
      background: transparent url("../img/book-hover.png") center center no-repeat;
      background-size: cover; }
.page-home .compliance {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 70px 0; }
  .page-home .compliance .heading {
    font-size: 30px;
    color: #202020;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    .page-home .compliance .heading span {
      color: #002f9d;
      font-size: 30px;
      letter-spacing: 7px;
      text-transform: uppercase; }
  .page-home .compliance .content {
    border-top: 1px solid #202020;
    margin-right: 70px;
    padding: 30px 0 20px; }
    .page-home .compliance .content p {
      color: #202020;
      font-size: 22px; }
.page-home .firms {
  padding: 80px 0; }
  .page-home .firms p {
    margin: 0;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #202020;
    letter-spacing: 6px; }
.page-home .network {
  background: #f3f3f3;
  padding: 40px 0 80px; }
  .page-home .network ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    -ms-column-count: 5;
    -o-column-count: 5;
    column-count: 5;
    list-style: none; }
    .page-home .network ul li {
      color: #002f9d;
      font-size: 20px;
      margin-bottom: 5px;
      text-transform: uppercase; }
      .page-home .network ul li:before {
        content: '•';
        color: #202020;
        position: relative;
        padding-right: 5px; }
      .page-home .network ul li a {
        font-weight: 400; }

.inner .banner {
  height: 307px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }
  .inner .banner .title {
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding-left: 20px; }
    .inner .banner .title span {
      display: block;
      font-size: 20px;
      color: white;
      font-family: Georgia, serif;
      text-transform: initial; }
.inner .error {
  padding: 50px 0 40px; }
.inner .service {
  padding: 30px 0; }
  .inner .service .content-1 {
    padding-top: 30px; }
    .inner .service .content-1 img {
      margin: 0 15px 10px 0; }
    .inner .service .content-1 .title:after {
      right: 391px;
      left: auto; }
  .inner .service .content-2 {
    padding-top: 30px; }
    .inner .service .content-2 img {
      margin: 0 0 10px 15px; }
  .inner .service .content p {
    line-height: 29px; }
  .inner .service .title {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 0.7;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 30px; }
    .inner .service .title:after {
      border: 2px solid #002f9d;
      width: 195px;
      height: 2px;
      position: absolute;
      bottom: 0;
      content: '';
      left: 0; }

.sub-service .services {
  padding: 60px 0 80px; }
  .sub-service .services .title {
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 1px solid #002f9d; }
  .sub-service .services ul {
    padding-left: 0; }
    .sub-service .services ul a:last-child li {
      border-bottom: 0; }
    .sub-service .services ul a.active li {
      color: #002f9d;
      font-style: italic; }
      .sub-service .services ul a.active li:before {
        content: '■';
        color: #002f9d;
        position: absolute;
        left: -2px;
        top: -3px; }
    .sub-service .services ul a li {
      font-family: Georgia, serif;
      font-size: 25px;
      font-weight: 400;
      color: #202020;
      list-style-type: none;
      border-bottom: 1px solid #cccccc;
      line-height: 65px;
      position: relative;
      padding-left: 20px;
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      .sub-service .services ul a li:focus, .sub-service .services ul a li:hover {
        color: #002f9d;
        font-style: italic; }
        .sub-service .services ul a li:focus:before, .sub-service .services ul a li:hover:before {
          content: '■';
          color: #002f9d;
          position: absolute;
          left: -2px;
          top: -3px; }
  .sub-service .services .heading {
    font-family: Georgia, serif;
    font-size: 35px;
    letter-spacing: 1px; }
  .sub-service .services .content p {
    line-height: 29px; }

.blog {
  padding: 60px 0 30px; }
  .blog .title {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase; }
    .blog .title a {
      color: #363737; }
      .blog .title a:focus, .blog .title a:hover {
        color: #002f9d; }
  .blog .date {
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, serif; }
  .blog hr:last-of-type {
    display: none; }

.sidebar {
  padding-left: 260px; }
  .sidebar .widget-title {
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    color: #363737;
    margin-bottom: 0; }
  .sidebar ul {
    list-style: none;
    padding: 0; }
    .sidebar ul a {
      font-size: 16px;
      color: #363737;
      font-family: Georgia, serif; }
      .sidebar ul a:focus, .sidebar ul a:hover {
        color: #002f9d; }

#sfsi_holder {
  height: 50px; }

.page-about-us .about {
  padding: 70px 0 60px; }
  .page-about-us .about .content p {
    font-size: 18px;
    line-height: 29px; }
.page-about-us .network {
  background: #021951 url("../img/sfg-text.png") center center no-repeat;
  padding: 100px 0 80px; }
  .page-about-us .network .firms {
    padding: 0 0 80px; }
    .page-about-us .network .firms p {
      margin: 0;
      border-top: 1px solid #b7b7b7;
      border-bottom: 1px solid #b7b7b7;
      padding: 30px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 6px; }
  .page-about-us .network ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    -ms-column-count: 5;
    -o-column-count: 5;
    column-count: 5;
    list-style: none; }
    .page-about-us .network ul li {
      color: #FFFFFF;
      font-size: 20px;
      margin-bottom: 5px;
      text-transform: uppercase; }
      .page-about-us .network ul li:before {
        content: '•';
        color: #004cff;
        position: relative;
        padding-right: 5px; }
      .page-about-us .network ul li a {
        font-weight: 400; }
        .page-about-us .network ul li a:focus, .page-about-us .network ul li a:hover {
          color: #202020; }

.page-attorneys .attorneys {
  padding: 70px 0 30px; }
  .page-attorneys .attorneys .title {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .page-attorneys .attorneys .title span {
      letter-spacing: initial;
      border-left: 2px solid #002f9d;
      font-size: 20px;
      font-style: italic;
      line-height: 40px;
      margin-left: 10px;
      display: inline-block;
      padding-left: 10px;
      font-family: Georgia, serif;
      text-transform: initial; }
  .page-attorneys .attorneys .bar-admissions, .page-attorneys .attorneys .courts, .page-attorneys .attorneys .education {
    position: relative;
    padding-left: 55px; }
    .page-attorneys .attorneys .bar-admissions img, .page-attorneys .attorneys .courts img, .page-attorneys .attorneys .education img {
      position: absolute;
      top: 0;
      left: 0; }
    .page-attorneys .attorneys .bar-admissions .heading, .page-attorneys .attorneys .courts .heading, .page-attorneys .attorneys .education .heading {
      font-size: 15px;
      color: #002f9d;
      margin-bottom: 0;
      font-family: Georgia, serif;
      font-weight: 700; }
  .page-attorneys .attorneys hr:last-of-type {
    display: none; }
  .page-attorneys .attorneys ul {
    padding: 0; }
    .page-attorneys .attorneys ul li {
      font-size: 15px;
      list-style: none; }

.page-reinstatement-payoff-requests .reinstatement {
  padding: 70px 0 30px; }
  .page-reinstatement-payoff-requests .reinstatement a {
    text-decoration: underline; }
  .page-reinstatement-payoff-requests .reinstatement .title {
    font-style: italic;
    margin: 0;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px; }
  .page-reinstatement-payoff-requests .reinstatement ol {
    padding-left: 15px;
    margin: 0 0 20px; }
    .page-reinstatement-payoff-requests .reinstatement ol li {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 5px; }
  .page-reinstatement-payoff-requests .reinstatement .content-2 strong em {
    font-size: 16px; }

.page-contact-us .blue {
  background: #021951;
  padding: 50px 0 20px; }
  .page-contact-us .blue p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px; }
  .page-contact-us .blue .title {
    line-height: 40px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
    position: relative;
    margin-bottom: 30px; }
    .page-contact-us .blue .title:before {
      content: '';
      position: absolute;
      border-top: 1px solid #FFFFFF;
      top: 0;
      width: 500px;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .page-contact-us .blue .title:after {
      content: '';
      position: absolute;
      border-top: 1px solid #FFFFFF;
      bottom: 0;
      width: 500px;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .page-contact-us .blue .subtitle {
    padding-bottom: 40px; }
.page-contact-us .info {
  padding-top: 50px; }
  .page-contact-us .info .item {
    padding: 0 0 30px; }
    .page-contact-us .info .item iframe {
      margin-bottom: 20px;
      width: 100%;
      height: 438px; }
    .page-contact-us .info .item .office {
      padding: 0;
      margin: 0; }
      .page-contact-us .info .item .office li {
        list-style: none;
        font-size: 16px;
        color: #202020;
        margin-bottom: 15px; }
        .page-contact-us .info .item .office li img {
          margin-bottom: 0;
          width: 100%;
          object-fit: cover;
          height: 204px; }
        .page-contact-us .info .item .office li i {
          position: relative;
          margin-right: 5px;
          line-height: 20px;
          text-align: center;
          width: 22px;
          font-size: 20px;
          color: #002f9d; }
          .page-contact-us .info .item .office li i.fa-phone, .page-contact-us .info .item .office li i.fa-envelope {
            border-radius: 50%;
            border: 1px solid #002f9d;
            font-size: 15px; }
        .page-contact-us .info .item .office li i:last-of-type {
          margin-left: 40px; }
        .page-contact-us .info .item .office li.address {
          padding-left: 30px;
          letter-spacing: 2px;
          text-transform: uppercase; }
          .page-contact-us .info .item .office li.address i {
            position: absolute;
            left: 15px;
            margin: 0; }
        .page-contact-us .info .item .office li.place {
          font-size: 25px;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-bottom: 0; }
        .page-contact-us .info .item .office li.state {
          font-family: Georgia, serif;
          font-size: 20px;
          font-style: italic; }
        .page-contact-us .info .item .office li a {
          color: #202020;
          font-weight: 400; }
          .page-contact-us .info .item .office li a:hover, .page-contact-us .info .item .office li a:focus {
            color: #002f9d; }

/**
 * Footer
 */
.page-contact-us .contact, .page-blog .contact {
  display: none !important; }

.page-home .wrap {
  background: #f3f3f3; }

.page-about-us .wrap {
  background: #021951; }

.contact {
  background: transparent url("../img/contact-bg.png") center top no-repeat;
  background-size: cover;
  padding: 60px 0 55px; }
  .contact .gform_wrapper ::placeholder {
    color: #363737; }
  .contact .gform_wrapper :-ms-input-placeholder {
    color: #363737; }
  .contact .gform_wrapper ::-ms-input-placeholder {
    color: #363737; }
  .contact .gform_wrapper ul.gform_fields li.gfield {
    display: inline-block;
    margin: 0 5px 0 0;
    padding-right: 0 !important; }
    .contact .gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
      width: 311px !important; }
    .contact .gform_wrapper ul.gform_fields li.gfield input, .contact .gform_wrapper ul.gform_fields li.gfield select {
      line-height: 40px;
      font-size: 19px !important;
      padding: 0 15px !important; }
    .contact .gform_wrapper ul.gform_fields li.gfield span {
      color: white;
      font-size: 30px;
      text-transform: uppercase;
      line-height: 29px;
      margin-right: 17px;
      position: relative;
      top: 5px; }
  .contact .gform_wrapper .gform_footer {
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
    padding: 0;
    margin: 0; }
    .contact .gform_wrapper .gform_footer .gform_button {
      border-radius: 0;
      height: 40px;
      object-fit: cover;
      margin: 0; }

.footer {
  background: transparent url("../img/footer-bg.png") center top no-repeat;
  background-size: cover;
  padding: 70px 0 20px; }
  .footer .office {
    padding: 0;
    margin-bottom: 50px; }
    .footer .office li {
      list-style: none;
      font-size: 15px;
      color: #b7b7b7;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .footer .office li i {
        position: absolute;
        left: -15px;
        line-height: 20px;
        text-align: center;
        width: 22px;
        font-size: 20px; }
        .footer .office li i.fa-phone {
          border-radius: 50%;
          border: 1px solid #b7b7b7;
          font-size: 15px; }
      .footer .office li.first-child {
        margin-bottom: 30px; }
      .footer .office li a {
        color: #b7b7b7; }
        .footer .office li a:hover, .footer .office li a:focus {
          color: #FFFFFF; }
  .footer #menu-primary-1 {
    text-align: center;
    width: 100%;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    padding: 25px 0;
    margin-bottom: 40px; }
    .footer #menu-primary-1 li {
      display: inline-block; }
      .footer #menu-primary-1 li a {
        color: #b7b7b7;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase; }
        .footer #menu-primary-1 li a:focus, .footer #menu-primary-1 li a:hover {
          color: #FFFFFF;
          background: transparent; }
      .footer #menu-primary-1 li.active a {
        color: #FFFFFF; }
  .footer p {
    text-align: center;
    color: #b7b7b7; }

/**
 * Media Query
 */
@media screen and (max-width: 479px) {
  .inner .banner .title {
    font-size: 24px; }

  .page-home .network ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    list-style: none; }

  .button {
    min-width: 100%; } }
@media screen and (max-width: 991px) {
  .header .navbar-default .office {
    float: none;
    padding: 0;
    margin-top: 20px;
    text-align: center; }
    .header .navbar-default .office li {
      margin-bottom: 10px; }
      .header .navbar-default .office li:first-child {
        border: 0;
        padding: 0; }
      .header .navbar-default .office li:last-child {
        padding: 0; }

  .page-about-us .network {
    background: #021951 !important; }

  .sidebar {
    padding-left: 0; }

  .inner .banner {
    background-position: top right; }
    .inner .banner .title {
      left: 0; }
  .inner .service img {
    margin: 0 0 15px 0 !important;
    float: none !important; }
  .inner .service .title:after {
    right: auto !important;
    left: 0 !important; }

  .page-home .services {
    padding: 70px 0 30px;
    height: auto;
    background: #021951; }
    .page-home .services .heading {
      margin-bottom: 30px; }
    .page-home .services ul {
      text-align: center; }
      .page-home .services ul a li {
        float: none !important;
        display: inline-block !important;
        padding: 15px 20px;
        width: 282px;
        background: none;
        height: 108px; }
        .page-home .services ul a li span {
          top: 35%; }
        .page-home .services ul a li:focus, .page-home .services ul a li:hover {
          background: transparent url(../img/service-background.png) top center no-repeat; }
  .page-home .compliance {
    background-position: left top; }

  .contact .gform_wrapper ul.gform_fields li.gfield {
    display: block; }
    .contact .gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
      width: 100% !important; }
  .contact .gform_wrapper .gform_footer {
    position: relative; }
    .contact .gform_wrapper .gform_footer input[type=image] {
      float: right; }

  .footer img {
    margin: 0 auto 20px; }
  .footer .office {
    padding: 0 0 0 30px; }
    .footer .office li i {
      left: 15px; } }
@media screen and (min-width: 992px) {
  .row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
@media screen and (max-width: 1199px) {
  .header .affix {
    position: inherit; } }
@media screen and (min-width: 1200px) {
  .header .affix {
    width: 100%;
    z-index: 10; } }
@media screen and (min-width: 1400px) {
  .container {
    width: 1230px; } }
@media screen and (min-width: 468px) and (max-width: 767px) {
  .page-home .network ul,
  .page-about-us .network ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    list-style: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-home .network ul,
  .page-about-us .network ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    list-style: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .contact .gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
    width: 224px !important; } }
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact .gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
    width: 291px !important; }

  .inner .service .content-1 .title:after {
    right: 331px !important; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .inner .service .title {
    line-height: 0.9; }
    .inner .service .title:after {
      right: 131px !important; } }

/*# sourceMappingURL=style.css.map */
